.hero {
  background-image: url("../images/mario.gif");
  background-attachment: fixed;
  background-position: 80% 30%;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  min-height: 36rem;
}